/* Sidebar styles */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%; /* 1/5 of the screen width */
    height: 100vh; /* Full height of the screen */
    background-color: #1C2025;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #474E55; /* Right edge line color */
    overflow-y: auto; /* Allows scrolling if content overflows */
    z-index: 1;
  }

  #logo {
    position: fixed;
    top: 0vh;
    left: 0;
    width: 20%; /* 1/5 of the screen width */
    height: 5vh; /* Full height of the screen */
    background-color: #1C2025;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #474E55; /* Right edge line color */
    border-bottom: 1px solid #474E55; /* Right edge line color */
    z-index: 2;
}

#projectbox {
    position: fixed;
    top: 11vh;
    left: 0;
    width: 20%; /* 1/5 of the screen width */
    height: 5vh; /* Full height of the screen */
    background-color: #1C2025;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #474E55; /* Right edge line color */
    border-top: 1px solid #474E55; /* Right edge line color */
    border-bottom: 1px solid #474E55; /* Right edge line color */
    z-index: 2;
    font-size: calc(1.3vw);
}

#projectbox:hover {
  background-color: #25282D;
}

/* Board Section Styling */
#board-section {
  position: fixed;
    top: 22vh;
    left: 0;
    width: 20%; /* 1/5 of the screen width */
    height: 5vh; /* Full height of the screen */
    background-color: #1C2025;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #474E55; /* Right edge line color */
    border-top: 1px solid #474E55; /* Right edge line color */
    z-index: 2;
}

#board-text {
  position: relative;
  left: 3.7vh;
  font-size: calc(1.3vw);
  color: white;
}
#create-board-button {
  position: relative;
  top: -4.2vh;
  left: 16.7vh;
  background-color: transparent;
  color: #949AA0;
  border: 1.5px solid #949AA0;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: calc(1vw);
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  /* Center the text inside the button */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#create-board-button:hover {
  background-color: #949AA0;
  color: white;
  border-color: #949AA0;
}

#userbox {
    position: fixed;
    top: 87vh;
    left: 0;
    width: 20%; /* 1/5 of the screen width */
    height: 5vh; /* Full height of the screen */
    background-color: #1C2025;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #474E55; /* Right edge line color */
    border-top: 1px solid #474E55; /* Right edge line color */
    z-index: 2;
}

#userbox img {
    position: fixed;
    top: 90.5vh;
    width: 6.5vh;
    height: 6.5vh;
    border-radius: 50%;
    left: 8vh;
  }
  
  #userbox span {
    position: fixed;
    top: 91.3vh;
    left: 19vh;
    color: white;
    font-size: calc(1.1vw + 0.5vh); /* Dynamically adjusts font size */
}

