/* Confirmation Popup */
#confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1002;
}

#confirmation-popup:not(.hidden) {
  display: flex; /* Show the popup */
}

#confirmation-content {
  background-color: #33363B;
  border-radius: 1vw; /* Border radius using vw */
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2); /* Box shadow with vw units */
  width: 40vw; /* Width as a percentage of viewport width */
  height: 20vh; /* Height as a percentage of viewport height */
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh; /* Padding adjusted for responsiveness */
}

#confirmation-content h3 {
  font-size: 2vh; /* Font size adjusted to vh */
  font-weight: normal;
  margin-bottom: 2vh; /* Bottom margin with vh unit */
}

#confirmation-content p {
  font-size: 1.4vh; /* Font size adjusted to vh */
  color: #949AA0;
  margin-bottom: 3vh; /* Bottom margin with vh unit */
}

.confirmation-buttons {
  display: flex;
  width: 100%;
  border-top: 0.2vw solid #6D7276;
  position: relative;
}

.confirmation-buttons::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #474E55;
}

#cancel-discard-button,
#discard-button {
  flex: 1;
  font-size: 2vh; /* Font size adjusted to vh */
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  text-align: center;
  padding: 2vh 0; /* Padding adjusted for vh */
  outline: none;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#cancel-discard-button {
  border-radius: 0 0 0 1vw; /* Border radius using vw */
}

#discard-button {
  border-radius: 0 0 1vw 0; /* Border radius using vw */
  color: #F34141; /* Red color for discard button */
}

#cancel-discard-button:hover,
#discard-button:hover {
  background-color: #2D3137;
  color: white;
}
