/* Sidebar styles */
* {
  outline: none !important;
  box-shadow: none !important;
}



#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  /* 1/5 of the screen width */
  height: 100vh;
  /* Full height of the screen */
  background-color: #1C2025;
  padding: 20px;
  border-right: 1px solid #474E55;
  /* Right edge line color */
  overflow-y: auto;
  /* Allows scrolling if content overflows */
  z-index: 1;
}

#logo {
  position: fixed;
  top: 0vh;
  left: 0;
  width: 20%;
  /* 1/5 of the screen width */
  height: 3.5vh;
  /* Full height of the screen */
  background-color: #1C2025;
  padding: 20px;
  /* Right edge line color */
  border-bottom: 1px solid #474E55;
  /* Right edge line color */
  z-index: 3;
}

#project-container {
  position: fixed;
  top: 11vh;
  left: 0;
  width: 20%;
  height: 6vh;
  background-color: #1C2025;
  padding: 3.5vh 20px;
  border-bottom: 1px solid #474E55; 
  z-index: 1;
  /* Ensure it's on top */
  font-size: calc(1.3vw);
  cursor: pointer;
  /* Ensures it's clickable */
}

.projectbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2vw; /* Ensure space for the triangle */
}

#project-box-content {
  margin-left: 2.5vw; /* Push text away from the triangle */
  display: flex;
  flex-direction: column;
}

#project-box-name {
  position: fixed;
  top: 13.75vh;
  color: white;
  left: 5vw;
  z-index: 1;
  font-size: calc(1.3vw);
  letter-spacing: 1px;
  white-space: nowrap;
  /* Prevent text wrapping */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Add ellipsis for overflowing text */
  max-width: 13vw;
}

#project-box-description {
  position: fixed;
  top: 18.25vh;
  color: #BEBEBE;
  left: 7.5vw;
  z-index: 1;
  font-size: calc(1vw);
  letter-spacing: 1px;
  white-space: nowrap;
  /* Prevent text wrapping */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Add ellipsis for overflowing text */
  max-width: 11vw;
}

#userbox {
  position: fixed;
  top: 87vh;
  left: 0;
  width: 20%;
  /* 1/5 of the screen width */
  height: 5vh;
  /* Full height of the screen */
  background-color: #1C2025;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  /* Right edge line color */
  border-top: 1px solid #474E55;
  /* Right edge line color */
  z-index: 1;;
}

#userbox img {
  position: fixed;
  top: 90.5vh;
  width: 6.5vh;
  height: 6.5vh;
  border-radius: 50%;
  left: 4vw;
}

#userbox span {
  position: fixed;
  top: 92vh;
  left: 9vw;
  color: white;
  font-size: calc(1.3vw);
  /* Dynamically adjusts font size */
}

/* Triangle symbol base style */
.triangle-symbol {
  width: 0;
  height: 0;
  border-left: 1vh solid transparent;
  border-right: 1vh solid transparent;
  border-top: 1vh solid #B6CADB;
  display: inline-block;
  transform-origin: center;
  transition: transform 0.2s ease;
  position: absolute;
  top: 2vh;
  left: 0.7vw;
  z-index: 5;
}

/* Triangle facing right */
.triangle-right {
  transform: rotate(270deg);
}

/* Triangle facing down */
.triangle-down {
  transform: rotate(360deg);
}

.project-settings-icon {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 4px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 35%;
  /* Center vertically */
  right: -0.5vw;
  /* Align to the right */
  z-index: 1;
  /* Ensure it’s above other elements */
  display: inline-block;
  transform-origin: center;
}

.project-settings-icon:hover {
  background-color: #3E4147;
}

/* Popup container */
.project-settings-popup {
  position: absolute;
  top: 0px;
  right: -190px;
  width: 150px;
  background-color: #11161C;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 4px;
  z-index: 5;
  display: flex;  
  flex-direction: column;
  gap: 2px;
}

/* Hide by default */
.project-settings-popup.hidden {
  display: none;
}

.hidden {
  display: none;
}

/* Options inside the popup */
.project-settings-option {
  padding: 4px 0px;
  padding-left: 20px;
  font-size: 12px;
  margin: 4px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
  letter-spacing: 1px;
}

.project-settings-option {
  font-size: 12px;
}

.project-settings-option:hover {
  background-color: #1B2128;
}

/* Delete option styling */
.project-settings-option.delete {
  color: #D51A1A;
}

.project-settings-option.delete:hover {
  background-color: #1B2128;
}

.section-wrapper {
  display: block;
  margin-top: 20px;
}
